{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="card p-4 shadow" style="max-width: 450px; margin: 50px auto;">
    <h2 class="text-center fw-bold mb-4">CRIAR CONTA HSBS</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary w-100 py-2 mb-3">CADASTRAR</button>
        <div class="text-center">
            <a href="{% url 'login' %}" class="text-muted small">Já tenho uma conta</a>
        </div>
    </form>
</div>
{% endblock %}